<footer role="contentinfo">
  <div class="wrap">{% assign repo_url = site.repos[0].url %}
    <p>This project is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</p>
    <p>The <a href="https://github.com/DCgov/guides-template/">DCgov Guides theme</a> is based on <a href="https://github.com/cfpb/docter/">DOCter</a> from <a href="http://cfpb.github.io/">CFPB</a> and the <a href="https://github.com/18F/guides-template/">18F Guides theme</a>.</p>
    <p><a href="{{ repo_url }}/edit/gh-pages/{{ page.relative_path }}">Edit this page</a> or <a href="{{ repo_url }}/issues">file an issue</a> on GitHub.</p>

  </div><!--/.wrap -->
</footer>
